<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.krafte.nebworks">

    <!-- 인터넷 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 인터넷 연결 확인 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 카메라 권한설정 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 단말기 정보 가져오기 -->
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 전화와 메시지를 보내기 위한 퍼미션 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />
    <!-- 내부에 저장된 파일 읽는 권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" /> -->
    <!-- //모든 파일 액세스 권한은 앱의 핵심기능이 아니면 앱 정책에 위반됨 -->
    <!-- 전체화면캡쳐 -->
    <uses-permission android:name="android.intent.action.MEDIA_MOUNTED" />
    <!-- 포그라운드 알림 권한 요청 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!--전화와 메시지를 보내기 위한 퍼미션-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />

    <!--와이파이 퍼미션-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION " />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:directBootAware="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:launchMode="singleInstance"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kogas"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute"
        tools:targetApi="31">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="true" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_native_key" /> <!-- FCM START -->
        <!-- - 안드로이드 8.0 이상 푸시 처리 추가 코드 -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/identificon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/black" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name=".FirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- FCM END -->

        <receiver
            android:name=".util.Sms_receiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="NOTIFICATION_CLICK" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- 카카오로그인에 사용 -->
                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_2_native_key" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.PushActivity" />

        <!--approval-->
        <activity android:name=".ui.approval.TaskApprovalFragment" />
        <activity android:name=".ui.approval.TaskApprovalDetail" />

        <!-- feed -->
        <activity android:name=".ui.feed.FeedAddActivity" />
        <activity android:name=".ui.feed.FeedDetailActivity" />
        <activity android:name=".ui.feed.FeedEditActivity" />

        <!-- login -->
        <activity android:name=".ui.login.LoginActivity" />

        <!-- main -->
        <activity android:name=".ui.main.MainFragment" />
        <activity android:name=".ui.main.MainFragment2" />

        <!--notify-->
        <activity android:name=".ui.notify.NotifyListActivity" />
        <activity android:name=".ui.feed.FeedListActivity" />

        <!-- member -->
        <activity android:name=".ui.member.MemberManagement" />
        <activity android:name=".ui.member.AuthSelectActivity" />
        <activity android:name=".ui.member.AdddirectlyMember" />
        <activity android:name=".ui.member.AddMemberDetail" />
        <activity android:name=".ui.member.InviteMemberActivity" />
        <activity android:name=".ui.member.MemberDetailActivity" />

        <!--paymanagement-->
        <activity android:name=".ui.paymanagement.PayManagementActivity" />
        <activity android:name=".ui.paymanagement.AddPaystubActivity" />
        <activity android:name=".ui.paymanagement.PaystuballActivity" />

        <!-- state -->
        <activity android:name=".ui.worksite.WorkState2Activity" />

        <!-- worksite -->
        <activity android:name=".ui.worksite.PlaceListActivity" />
        <activity android:name=".ui.worksite.PlaceAddActivity" />
        <activity android:name=".ui.worksite.PlaceAddActivity2" />
        <activity android:name=".ui.worksite.TaskAddWorkActivity" />
        <activity android:name=".ui.worksite.PlaceWorkDetailActivity" />
        <activity android:name=".ui.worksite.PlaceEditActivity" />
        <activity android:name=".ui.worksite.PlaceEditActivity2" />
        <activity android:name=".ui.worksite.PlaceSearchActivity" />
        <activity android:name=".ui.worksite.PlaceAddCompletion" />
        <activity android:name=".ui.worksite.TaskReuseActivity" />
        <activity android:name=".ui.worksite.TaskReuesAddActivity" />
        <activity android:name=".ui.worksite.TaskDetailActivity" />
        <activity android:name=".ui.worksite.TaskReportActivity" />
        <activity android:name=".ui.worksite.TaskReportDetailActivity" />

        <!-- Other -->
        <activity android:name=".ui.PinSelectLocationActivity" />

        <!-- user -->
        <activity android:name=".ui.user.ProfileEditActivity" />
        <activity android:name=".ui.user.UserPlaceMapActivity" />
        <activity android:name=".ui.user.DeleteUserActivity" />
        <activity android:name=".ui.user.SearchAccountActivity" />
        <activity android:name=".ui.user.FindEmailActivity" />
        <activity android:name=".ui.user.VerificationActivity" />
        <activity android:name=".ui.user.JoinActivity" />
        <activity android:name=".ui.user.ChangePWActivity" />
        <activity android:name=".ui.user.ChangePWActivity2" />

        <!-- career -->
        <activity
            android:name=".ui.career.CareerActivity"
            android:theme="@style/Theme.Kogas" />

        <!-- community -->
        <activity android:name=".ui.community.CommunityAddActivity" />
        <activity android:name=".ui.community.MoreListCommunityActivity" />
        <activity android:name=".ui.community.OwnerFeedAddActivity" />
        <activity android:name=".ui.community.OwnerFeedDetailActivity" />

        <!--contract-->
        <activity android:name=".ui.contract.ContractFragmentActivity"/>

        <!--관리자-->
        <activity android:name=".ui.contract.AddContractPage01"/>
        <activity android:name=".ui.contract.AddContractPage02"/>
        <activity android:name=".ui.contract.AddContractPage03"/>
        <activity android:name=".ui.contract.AddContractPage04"/>
        <activity android:name=".ui.contract.AddContractPage05"/>
        <activity android:name=".ui.contract.AddContractPage06"/>
        <activity android:name=".ui.contract.AddContractPage07"/>
        <activity android:name=".ui.contract.AddContractPage08"/>
        <activity android:name=".ui.contract.AddContractPage09"/>

        <!--근로자-->
        <activity android:name=".ui.contract.ContractWorkerAccept"/>
        <activity android:name=".ui.contract.ContractWorkerSignActivity"/>

        <!-- workstatus-->
        <activity android:name=".ui.workstatus.AddWorkPartActivity" />

        <!-- 팝업 영역 -->
        <activity
            android:name=".pop.TwoButtonPopActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".pop.OneButtonPopActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".pop.WorkTimePicker"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".pop.DatePickerActivity"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name=".pop.DatePickerymdActivity"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name=".pop.Tap1OptionActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".pop.InoutPopActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".pop.CommunityOptionActivity"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".pop.Tap2OptionActivity"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name=".pop.Tap3OptionActivity"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name=".pop.PhotoPopActivity"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name=".pop.PlaceBottomNaviActivity"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name=".pop.WorkAssigmentContentsPop"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name=".pop.TaskListPopActivity"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name=".pop.OneButtonTItlePopActivity"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name=".pop.DatePickerYearActivity"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name=".pop.JoinPopActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".pop.AlertPopActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".pop.TermViewActivity"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name=".bottomsheet.MemberOption"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name=".pop.DateCoustomPickerActivity"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name=".pop.WorkMemberOptionActivity"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name=".pop.SelectMemberPop" />

        <activity
            android:name=".pop.SelectTaskDatePop" />

        <activity
            android:name=".pop.RepeatSetPop" />

        <activity
            android:name=".pop.MemberListPop" />

        <activity
            android:name=".ui.WebViewActivity"
            android:theme="@android:style/Theme.Dialog"/>

        <activity
            android:name=".pop.SignPopActivity"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name=".pop.LawPopActivity" />

    </application>

</manifest>